/.quarto/
docs/pages/cv.html
*.json
*.pper
.Rproj.user/E9A739C3/sources/prop/E6F62701
.Rproj.user/E9A739C3/sources/session-294deeca/CAB94897
.Rproj.user/E9A739C3/sources/session-294deeca/CAB94897-contents
*.html
*.json
*.ttf
*.woff2
*.css
*.json
/.Rproj.user/E9A739C3/sources/session-294deeca
/.Rproj.user/E9A739C3/sources
/.Rproj.user/E9A739C3/sources/session-294deeca
/.Rproj.user/E9A739C3
.Rproj.user/E9A739C3/jobs/A2BBAFD4-output.json
