.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.quarto/_freeze/pages/presentation/execute-results/html.json
.quarto/_freeze/pages/presentation/execute-results/html.json
.quarto/_freeze/site_libs/revealjs/dist/reveal.css
*.js
*.css
*.json
*.js
*.html
*.json
*.json
.quarto/idx/index.qmd.json
.quarto/idx/pages/cv.qmd.json
.quarto/idx/pages/dev-01.qmd.json
.quarto/idx/pages/podcast.qmd.json
.quarto/idx/pages/presentation.qmd.json
.quarto/xref/89e70a0b
.quarto/xref/e7907aa2
*.html
*.html
*.json
*.css
*.js
*.js
*.js
*.js
*.js
*.js
*.js
*.js
*.html
*.html
